<!DOCTYPE html>
<html lang = "fr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>ConvertiMax</title>
	<link href="../css/style.css" rel="stylesheet" type="text/css" />

	<script src="../js/script_historique.js">

	</script>
	<script src="https://code.jquery.com/jquery-1.12.0.min.js">

	</script>
	<link rel="stylesheet" href="../css/bootstrap.min.css" />
	<script src="../js/bootstrap.min.js">

	</script>

</head>

<body onload = "init();">

	<nav>
		<ul>
			<li><a class="active" href="../index.html">Accueil</a></li>
			<li><a href="monnaies.html">Monnaies</a></li>
			<li><a href="poids.html">Poids</a></li>
			<li><a href="distances.html">Distances</a></li>
      <li><a href="cuisine.html">Cuisine</a></li>
      <li><a href="historique.html">Historique</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
	</nav>

	<div class="default_div d-flex justify-content-center">
    <div id ="main">
  

    </div>
  </div>

  </body>
</html>